<div class="card md:w-96 w-full bg-base-200 grid grid-cols-2">
  <div>
    <h2 class="card-title">{{ expense()!.expenseName }}</h2>
    <p class="text-xl text-gray-100">{{ expense()!.totalCost }}</p>
    <div class="text-sm text-gray-500">paid by {{ expense()!.ownerName }}</div>
  </div>
  <div clas="flex gap-2">
    @for (participant of participants(); track participant) {
      @if (participant.id !== expense().ownerId) {
        <div>{{ participant.name }}</div>
      }
    }
  </div>
</div>
